/* styles.css */
:root {
  --bg-color: #F1F1F3;
  --text-color: #323233;
  --accent-color: #2797FE;
  --border-color: #E0E0E0;
  --button-hover: #005fcb;
  --button-disabled: #A8A8A8;
}

body {
  font-family: 'San Francisco', 'Roboto', 'Arial', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.currency-inputs {
  width: 100%;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  transition: border-color 0.3s ease-in-out;
}

.input-wrapper:hover,
.input-wrapper:focus-within {
  border-color: var(--accent-color);
}

.input-wrapper input {
  flex-grow: 1;
  border: none;
  padding: 12px;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.currency-symbol,
.currency-flag {
  padding: 12px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-continue {
  background: linear-gradient(90deg, var(--accent-color), var(--button-hover));
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
}

.btn-continue:hover {
  background: linear-gradient(90deg, var(--button-hover), var(--accent-color));
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.btn-continue:disabled {
  background: var(--button-disabled);
  cursor: not-allowed;
}

/* Responsive Design */
@media (max-width: 768px) {
  .landing-page-container {
      padding: 10px;
      max-width: 100%;
  }
}
